@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: radial-gradient(
      circle at left center,
      #b8e01873 0.25%,
      transparent 40%
    ),
    radial-gradient(circle at right center, #b8e01873 0.25%, transparent 40%),
    #000000fb;
  background-size: 50% 100%;
  background-position: left, right;
  background-repeat: no-repeat;

  overflow-x: hidden;
}

@font-face {
  font-family: "Altone-bold";
  src: url("/fonts/altone/AltoneTrial-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Altone-regular";
  src: url("/fonts/altone/AltoneTrial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Brush-italic";
  src: url("../public/fonts/Brush-Script\ Italic/BrushScriptStd.otf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@theme {
  --font-altoneBold: "Altone-bold";
  --font-altoneRegular: "Altone-regular";
  --font-brushItalic: "Brush-italic";
}
